<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div style="height:800px;width:800px" id="map"></div>
	<p><%=data%></p>


    <script>
		var binList = <%-JSON.stringify(data)%>;
		console.log(binList[0].Borough);
    	var map;
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
		    	zoom: 2,
		    	center: new google.maps.LatLng(2.8,-187.3),
		    	mapTypeId: 'terrain'
		    });
			for (var i in binList) {
				//var coords = results.features[i].geometry.coordinates;
				var latLng = new google.maps.LatLng(binList[i].Latitude,binList[i].Longitude);
				var marker = new google.maps.Marker({
					position: latLng,
					map: map
				});
			}
		  
	  	}

		  // Loop through the results array and place a marker for each
		  
		
    </script>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqpLYMJ-PPUa4InFWr566c0fdc0ATNQsA&callback=initMap">
    </script>
  </body>
</html>
